@import "file:////home/baiye/node_modules/vuepress-theme-hope/templates/palette/palette.scss";
@import "file:////home/baiye/rfcs-7/docs1/.vuepress/styles/palette.scss";
@import "file:////home/baiye/node_modules/vuepress-theme-hope/templates/palette/generator.scss";
